body {
    background-color: #72EED6;
}

#title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    color: #FF837D;
    letter-spacing: 1.5px;
    font-weight: 300;
}

#timerWindows{
    position: relative;
    background-color: #BFFEEB;
    border: 5px solid #FFFFFF;
    height: 550px ;
    margin-left: 155px;
    margin-right: 155px;    
}


#timer{
    position: relative;
    text-align: center;
    font-size: 43px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #626262;
    letter-spacing: 1.5px;
    margin-top: 60px;
    border: 4px solid #FF837D;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-left : 180px;
    margin-right : 180px;
    margin-top: 48px;
    padding-top: 38px;
    padding-bottom: 38px;
}

.buttons{
    background-color: #50D2A4;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 30px 45px 30px 45px; 
    letter-spacing: 1.3px;
   
}

.buttons:hover{
    cursor: pointer;
    background-color:#72EED6;
}

#start{
    position:absolute;
    margin-left: 20%;
    margin-top: 4.5%;
}

