*{
     margin: 0;
}

body {
    background: linear-gradient(to bottom, #FF837D 0%, #FF837D 50%, #72EED6 50%, #72EED6 100%) fixed;
}

#title {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 53px;
    color: #FEF68E;
    letter-spacing: 1.7px;
    font-weight: 300;
    padding-top: 24px;
}

#timerWindows{
    position: relative;
    background-color: #BFFEEB;
    box-shadow: 0 0 10px #FFFFFF;
    border-radius: 50%;
    width:580px;
    height: 580px;
    border: 4px solid #FFFFFF;
    margin-top: 45px;
    margin-bottom: 38px;
    margin-left: 450px;
    margin-right: 211px;    
}


#timer{
    position: relative;
    text-align: center;
    font-size: 45px;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    color: #626262;
    letter-spacing: 1.5px;
    border: 4px solid #FF837D;
    border-radius: 8px;
    height: 110px;
    width: 200px;
    background-color: #FFFFFF;
    margin-left : 180px;
    margin-right : 180px;
    margin-top: 60px;
    padding-top: 55px;
    padding-bottom: 3px;
}

#buttons{
    display:flex;
}

.buttons{
    background-color: #50D2A4;
    border: 2.5px solid #FFFFFF;
    border-radius: 50%;
    width: 172px;
    height: 172px;
    color: #FFFFFF;
    font-size: 23.5px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    padding: 30px 45px 30px 45px; 
    letter-spacing: 1.3px;
}

.buttons:hover{
    cursor: pointer;
    background-color:#72EED6;
}

#start{
    position:absolute;
    margin-left: 35%;
    margin-top: 15%;
}
