*{
    margin: 0;
}

body {
   background: linear-gradient(to bottom, #FF837D 0%, #FF837D 50%, #72EED6 50%, #72EED6 100%) fixed;
}

#title {
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 49px;
   color: #FEF68E;
   letter-spacing: 1.7px;
   font-weight: 300;
   padding-top: 35px;
}

#timerWindows{
   position: relative;
   background-color: #BFFEEB;
   box-shadow: 0 0 10px #FFFFFF;
   border: 4px solid #FFFFFF;
   height: 520px ;
   margin-top: 45px;
   margin-bottom: 90px;
   margin-left: 211px;
   margin-right: 211px;    
}


#timer{
   position: relative;
   text-align: center;
   font-size: 45px;
   font-family: 'Comfortaa', cursive;
   font-weight: 300;
   color: #626262;
   letter-spacing: 1.5px;
   margin-top: 60px;
   border: 4px solid #FF837D;
   border-radius: 8px;
   background-color: #FFFFFF;
   margin-left : 180px;
   margin-right : 180px;
   margin-top: 48px;
   padding-top: 38px;
   padding-bottom: 38px;
}


.buttons{
   background-color: #50D2A4;
   border: 2.5px solid #FFFFFF;
   border-radius: 8px;
   box-shadow: 0 0 5px #FFFFFF;
   color: #FFFFFF;
   font-size: 23.5px;
   font-family: 'Comfortaa', cursive;
   font-weight: 700;
   padding: 30px 45px 30px 45px; 
   letter-spacing: 1.3px;
  
}

.buttons:hover{
   cursor: pointer;
   background-color:#72EED6;
}

#start{
   position:absolute;
   margin-left: 20%;
   margin-top: 10%;
   
}

#reset{
   position:absolute;
   margin-left: 42%;
   margin-top: 10%;
}

#stop{
    position:relative;
    margin-left: 65%;
    margin-top: 10%;
 }